/* Navigation */

nav.nav-wrapper a.page-title {
  display: inline-block;
  font-size: 2em;
  line-height: 2em;
  max-width: 30% !important;
  margin: 0 33%;
}


/* Footer */

footer.page-footer {
  padding-top: 0 !important;
  margin-top: 1em;
}
